:root {
  --color-primary-white: #ffffff;
  --color-primary-lightblue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-lightgrey: #747272;
  --color-secondary-darkblue2: #011f4a;
  --color-secondary-yellow: #ffd02b;
}
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
