.button {
  width: 100%;
  height: 44px;
  border-radius: 32px;
  border: var(--color-primary-lightblue);
  background: var(--color-primary-lightblue);
  cursor: pointer;
  color: var(--color-primary-white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  transition: 0.2s;

  @media (min-width: $tablet) {
    width: 219px;
    height: 53px;
    font-size: 18px;
  }

  &:hover {
    border: 2px solid var(--color-primary-lightblue);
    color: black;
    background-color: transparent;
  }

  span {
    width: 155px;
    height: 21px;
  }
}

.finding-section__appointment-form-button-container-button {
  width: 100%;
  height: 44px;
  border-radius: 32px;
  border: 2px solid var(--color-primary-lightblue);
  background: var(--color-primary-lightblue);
  color: var(--color-primary-white);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: transparent;
  }

  @media (min-width: $tablet) {
    height: 53px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: var(--color-primary-white);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: $tablet) {
    top: 42px;
    right: 32px;
  }
}

.close-bth {
  width: 24px;
  height: 24px;

  @media (min-width: $tablet) {
    width: 32px;
    height: 32px;
  }
}

.modal-form-button {
  width: 100%;
  height: 53px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 24px;
  background-color: var(--color-primary-lightblue);
  color: var(--color-primary-white);
  font-weight: 600;
  border: 2px solid var(--color-primary-lightblue);
  cursor: pointer;
  transition: 0.2s;
}

.modal-form-button:hover {
  background-color: transparent;
  border: 2px solid var(--color-primary-lightblue);
}
