.background-wave {
  display: flex;
  flex-direction: column;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @media screen and (min-width: $tablet) {
    background-position: top center;
  }

  @media screen and (min-width: $desktop) {
    background-position: top center;
  }
}
