.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  padding: 16px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body.no-scroll {
  overflow: hidden;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 40px 16px;
  border-radius: 24px;
  background-image: url('../images/form-bcg.png'), url('../images/Form.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  @media (min-width: $tablet) {
    width: 723px;
    max-width: 100%;
    height: 681px;
    padding: 64px 24px;
    border-radius: 48px;
    overflow-y: visible;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 435px;
  }
}

.modal-title {
  line-height: 1;
  text-align: center;
  color: var(--color-primary-white);
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }
}

.modal-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: var(--color-primary-white);
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    font-size: 22px;
    margin-bottom: 32px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 310px;
  gap: 16px;

  @media (min-width: $tablet) {
    gap: 24px;
  }
}

.form-field-modal {
  width: 100%;
}

.form-field-modal input {
  width: 100%;
  height: 52px;
  border-radius: 24px;
  font-size: 13px;
  border: 2px solid var(--color-secondary-lightgrey);
  background-color: transparent;
  color: var(--color-primary-white);
  padding: 0 16px;
  outline: transparent;
}

.form-field-modal input:focus {
  border-color: var(--color-primary-lightblue);
}

.form-field-modal input::placeholder {
  color: var(--color-primary-white);
}

.modal-form-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 281px;
  gap: 8px;
  margin: 0 auto;
}

.modal-form-terms {
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-secondary-lightgrey);
  margin: 0;
}

.modal-form-terms a {
  color: var(--color-secondary-lightgrey);
}
